*.sw*
cards_gateway.code-workspace
crypto_cards_address
crypto_cards_dappchain_address
crypto_cards_tx_hash
game_token_tx_hash
game_token_address
gateway_address
crypto_cards_transaction
loom_first_weapon*
fake_kitty_*
