*.sw*
node_modules/*
cards_gateway.code-workspace
crypto_cards_address
crypto_cards_dappchain_address
crypto_cards_tx_hash
game_token_tx_hash
game_token_address
gateway_address
crypto_cards_transaction
loom_first_weapon*
fake_kitty_*
example-nft
nd_*
example-nft*
